<div class="container h-100" style="background-color: white;">
  <div class="row align-items-center">
    <div class="col-md-12">
      <h1 mat-dialog-title>Adicionar hospital</h1>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-md-2">
      <label>Hospital:</label>
    </div>
    <div class="col-md-4">
      <mat-select [(ngModel)]="this.hospitalId">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{option.text}}
        </mat-option>
      </mat-select>
    </div>
    <div class="col-md-2">
      <label>Especialidad:</label>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="this.specialityId" class="w-100" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-md-2">
      <label>Nombre:</label>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="name" class="w-100" />
    </div>
    <div class="col-md-2">
      <label>Apellido:</label>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="lastName" class="w-100" />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-md-3">
      <label>Fecha de nacimiento:</label>
    </div>
    <div class="col-md-7">
      <input name="startDate" type="text" [matDatepicker]="pickerStartDate" class="form-control input-sm"
        [(ngModel)]="this.birthDate" (ngModelChange)="onBirthDateChange($event)" placeholder="mm/dd/yyyy" class="w-100">
    </div>
    <div class="col-md-2 ml-0 pl-0">
      <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerStartDate></mat-datepicker>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-md-2">
      <label>Direccion:</label>
    </div>
    <div class="col-md-10">
      <textarea cols="40" rows="3" type="text" [(ngModel)]="this.address" class="w-100"></textarea>
    </div>
  </div>
  <div class="row pt-2 pb-2" mat-dialog-actions>
    <div class="col-md-6">
      <button mat-button class="bela-button" (click)="save()" cdkFocusInitial>
        Agregar
      </button>
    </div>
    <div class="col-md-6">
      <button mat-button class="bela-cancel-button" (click)="exit()">
        Salir
      </button>
    </div>
  </div>
</div>
