<div class="container h-100" style="background-color: white;">
  <div class="row align-items-center">
    <div class="col-md-12">
      <h1 mat-dialog-title>Adicionar hospital</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Nombre:</label>
    </div>
    <div class="col-md-6">
      <input type="text" [(ngModel)]="hospitalName" class="w-100" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Descripción:</label>
    </div>
    <div class="col-md-6">
      <input type="text" [(ngModel)]="hospitalDescription" class="w-100" />
    </div>
  </div>
  <div class="row pt-2 pb-2" mat-dialog-actions>
    <div class="col-md-6">
      <button mat-button class="bela-button" (click)="save()" cdkFocusInitial>
        Agregar
      </button>
    </div>
    <div class="col-md-6">
      <button mat-button class="bela-cancel-button" (click)="exit()">
        Salir
      </button>
    </div>
  </div>
</div>
