<mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile>
    <button routerLink="/private/hospital" mat-button class="bela-button button-dashboard-approved">
      <i class="fa fa-hospital mat-i-tag button-icon"></i>
      HOSPITALES
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/private/patient" mat-button class="bela-button button-dashboard-approved">
      <i class="fas fa-user-injured mat-i-tag button-icon"></i>
      PACIENTES
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/private/doctor" mat-button class="bela-button button-dashboard-approved">
      <i class="fas fa-user-md mat-i-tag button-icon"></i>
      DOCTORES
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/private/speciality" mat-button class="bela-button button-dashboard-approved">
      <i class="fas fa-stethoscope mat-i-tag button-icon"></i>
      Especialidades
    </button>
  </mat-grid-tile>
</mat-grid-list>
