<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile>
    <button routerLink="/private/client" mat-button class="bela-button button-dashboard-approved">
      <i class="fas fa-users mat-i-tag button-icon"></i>
      Clientes
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/private/professional" mat-button class="bela-button button-dashboard-approved">
      <i class="fas fa-address-book mat-i-tag button-icon"></i>
      Profesionales
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/private/salon" mat-button class="bela-button button-dashboard-approved">
      <i class="fas fa-store-alt mat-i-tag button-icon"></i>
      Salones
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/private/request/salon" mat-button class="bela-button button-dashboard-approved">
      <i class="fas fa-store-alt mat-i-tag button-icon"></i>
      Solicitud de Salones
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/private/request/professional" mat-button class="bela-button button-dashboard-approved">
      <i class="fas fa-user-tie mat-i-tag button-icon"></i>
      Solicitud de Profesional
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/private/report/general-report" mat-button class="bela-button button-dashboard-approved">
      <i class="fa fa-list-ul mat-i-tag button-icon"></i>
      Reportes
    </button>
  </mat-grid-tile>
</mat-grid-list>
